@import "menu.css";
@import "home.css";
@import "gallery.css";
@import "photo_details.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Spartan';
}

.content_box{
    padding-top: 51px;
}