a{
    color: #c72d66;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: color 0.3s;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: #203c58;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    font-size: 25px;
}

.menu_item{
    margin: 0 10px;
}