a{
    color: #afafaf;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: color 0.3s;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: #563d7c;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.mobil_menu {
    color: white;
    display: none;
}

.logo{
    font-size: 25px;
}

.menu_item{
    margin: 0 10px;
}

.active{
    color: white;
}