{% extends '_base.html' %}

{% block title%}Galery{% endblock title%}

{% block body %}

    <div class="category_menu" id="category_menu">
        {% for category in categories %}
            <a href="/gallery/?category={{ category.title }}" class="{% if request.GET.category == category.title %}active{% endif %}">{{ category }}</a>
        {% endfor %}
    </div>

    <div class="thumbnail_layout">

        {% for photo in photos %}
            <a href="/gallery/{{ photo.slug }}/" class="thumbnail_item" style="background-image: url({{ photo.image.url }})">
                <div class="thumbnail_content_layout">
                    <div class="thumbnail_header">{{ photo.title }} {{ photo.pk }}</div>
                    <div class="thumbnail_footer">{{ photo.uploaded|date:"b. d." }}</div>
                </div>
            </a>
        {% endfor %}

    </div>
{% endblock body %}

